{% load static %}
    <nav class="main-menu">
        <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/4icon.png' %}" alt="Logo" class="logo-icon">
            <span class="logo-text">Lumos</span>
        </a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Сегодня</a></li>
            <li><a href="{% url 'categories_stats' %}">Категории</a></li>
            <li><a href="{% url 'goals_list' %}">Цели</a></li>
        </ul>
    </nav>
